body {
    background-color: #fff;
    padding: 20px;
    margin: 0;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 .red{
   background-color: #FD0707;
   padding: 25px;

 }
  h1 {
    padding: 35pxpx;
    text-align: centered;
    background-color: #FD0707;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    
    
  }

  


  h2, p, ul, li {
    font-family: sans-serif;
    font-weight: bold;
    
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  .white{
    color: white;
   background: red;
   width: 130px;
  }
  .content {
    background-color: #fff;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #FD0707;
  }